# Exclude everything by default
*

# Include necessary files
!dist/extension.js
!syntaxes/**
!resources/**
!language-configuration.json
!package.json
!README.md
!README.pt-br.md
!README.pt-pt.md
!CHANGELOG.md
!LICENSE.md

# Explicitly exclude
src/
node_modules/
*.map
esbuild.js
tsconfig.json
.github/
.vscode/
.git/
.gitignore
*.vsix
*.log
.release-please-manifest.json
release-please-config.json
manage.py
vsix-contents/
